<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Project" thread-count="1" >
    <test name="Practice Test">
	    <parameter name="name" value="jyoti"/>
		<parameter name="email" value="jyoti@123"/>	
		<parameter name="caddress" value="pune"/>	
		<parameter name="paddress" value="pune"/>	
  	 	<classes>
             <class name="TestResult.PracticePageTest"/>
        </classes>
  </test> 
</suite> <!-- Suite -->
